* {
  font-size: 30px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

span {
  font-size: 4em;
}

.contain {
  position: relative;
  margin: 10% auto 0;
  display: flex;
  display: -webkit-flex;
  flex: row wrap;
  width: 60%;
  min-width: 600px;
  min-height: 200px;
  height: auto;
  padding: 1em;
}

.contain-buttons {
  position: relative;
  margin: 5px auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex: row wrap;
  width: 60%;
  min-width: 600px;
}

#twitter {
  display: block;
  font-size: 1em;
  background-color: #CCCCCC;
  border: 1px solid #777;
  border-radius: 2px;
  padding: 5px;
}

.disabled {
  color: #6D6D6D;
  cursor: initial;
}

#next-quote {
  display: block;
  font-size: 1em;
  background-color: #CCCCCC;
  border: 1px solid #777;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

span {
  align-self: center;
}

.contain-quote {
  display: flex;
  margin: 0 auto;
  align-self: center;
  flex-direction: column;
  -ms-flex-direction: column;
}

#quote {
  text-align: center;
  padding: 1em;
}

#movie {
  font-size: 16px;
  top: 5px;
  text-align: right;
  padding-right: 1em;
}